---
section_id: about
section_title: who am i
---

<!-- Content -->
<div class="content">

  <!-- Block content -->
  <div class="block-content margBSmall">

    <div class=" profile margBSmall">
      <h1>{{ site.name }}</h1>
      <h3>{{ site.user_title }}</h3>
    </div>

    <!-- Row -->
    <div class="row">
      <div class="col-md-6">
        <p>Software developer, creative technologists, and tinkerer. Interested in technology, hardware, microcontrollers, networking and electronics.</p>
      </div>

      <div class="col-md-6">
        <p>I work as a software developer/consultant, at Evry Kristiansand. I'm currently working on projects with PHP and Angular 2.</p>
      </div>

    </div>

  </div>

</div>

<!-- Main title -->

<div class="main-title">
  <h1>professional skills</h1>

  {% include zigzag_divider.html %}
</div>

<!-- Content -->
<div class="content">

  <!-- Block content -->
  <div class="block-content margBMedium">

    <!-- Skill design -->
    <div class=" skill dev">

      <!-- Row -->
      <div class="row">

        <div class="vc">

          <div class="col-md-11">

            <ul class="skills-list clearfix">
              <li>
                <h4>javascript</h4>
                <div class="progress">
                  <div class="percentage">
                    75%
                  </div>
                </div>
              </li>
              <li>
                <h4>php/mysql</h4>
                <div class="progress">
                  <div class="percentage">
                    93%
                  </div>
                </div>
              </li>
              <li>
                <h4>java</h4>
                <div class="progress">
                  <div class="percentage">
                    87%
                  </div>
                </div>
              </li>
              <li>
                <h4>c/c++</h4>
                <div class="progress">
                  <div class="percentage">
                    70%
                  </div>
                </div>
              </li>
              <li>
                <h4>angular 2</h4>
                <div class="progress">
                  <div class="percentage">
                    50%
                  </div>
                </div>
              </li>

            </ul>

          </div>

          <div class="col-md-1">
            <div class="title dev">
              <span>Coding</span>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- Block content -->
  <div class="block-content">

    <!-- Skill design -->
    <div class=" skill prs">

      <!-- Row -->
      <div class="row ">

        <div class="vc">

          <div class="col-md-11">

            <ul class="skills-list clearfix">
              <li>
                <h4>Responsible</h4>
                <div class="progress">
                  <div class="percentage">
                    85%
                  </div>
                </div>
              </li>
              <li>
                <h4>Creative</h4>
                <div class="progress">
                  <div class="percentage">
                    90%
                  </div>
                </div>
              </li>
              <li>
                <h4>Multitasking</h4>
                <div class="progress">
                  <div class="percentage">
                    70%
                  </div>
                </div>
              </li>

            </ul>

          </div>

          <div class="col-md-1">
            <div class="title prs">
              <span>assets </span>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>

<!-- Main title -->

<div class="main-title">
  <h1>experience</h1>

  {% include zigzag_divider.html %}
</div>

<!-- Content -->
<div class="content">

  <!-- Block content -->
  <div class="block-content ">

    <!-- Timeline -->
    <div class="timeline experience">

      <!-- Row -->
      <div class="row ">

        <div class="col-md-12">

          <!-- Experience holder -->
          <div class="exp-holder margTop">

            <!-- Experience -->
            <div class="exp">
              <div class="hgroup">
                <h4>Developer – ProFundo </h4>
                <h6><i class="icon-calendar"></i>Feb 2017 - <span class="current">Current</span></h6>
              </div>
              <p>Web development with PHP, HTML/CSS and Oracle DB.</p>
            </div>

            <!-- Experience -->
            <div class="exp">
              <div class="hgroup">
                <h4>Developer – Skatteetaten </h4>
                <h6><i class="icon-calendar"></i>Jun 2016 - Aug 2016</h6>
              </div>
              <p>Developed a system for collection data across multiple different locations. Presentation was done through a website.</p>
            </div>

            <!-- Experience -->
            <div class="exp">
              <div class="hgroup">
                <h4>Shift leader – Kiwi </h4>
                <h6><i class="icon-calendar"></i>Jun 2015 - Dec 2016</h6>
              </div>
              <p>Shift leader at Kiwi Sognsveien.</p>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<!-- Main title -->

<div class="main-title">
  <h1>education</h1>

  {% include zigzag_divider.html %}
</div>

<!-- Content -->
<div class="content">

  <!-- Block content -->
  <div class="block-content">

    <!-- Timeline -->
    <div class="timeline education">

      <!-- Row -->
      <div class="row ">

        <div class="col-md-12">

          <!-- Experience holder -->
          <div class="exp-holder margTop">

            <!-- Experience -->
            <div class="exp">
              <div class="hgroup">
                <h4>Master Degree – Programming and Networks</h4>
                <h6><i class="icon-calendar"></i>Aug 2015 - <span class="current">Current</span></h6>
              </div>
              <p>Master degree within programming and networks at the University of Oslo.</p>
            </div>

            <!-- Experience -->
            <div class="exp">
              <div class="hgroup">
                <h4>Bachelor Degree – Computer Science</h4>
                <h6><i class="icon-calendar"></i>Aug 2012 - Jun 2015</h6>
              </div>
              <p>Bachelor in computer science at the University of Bergen.</p>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<!-- Main title -->

<div class="main-title">
  <h1>services</h1>

  {% include zigzag_divider.html %}
</div>

<!-- Content -->
<div class="content">

  <!-- Block content -->
  <div class="block-content ">

    <!-- Services -->
    <div class="services">

      <!-- Row -->
      <div class="row ">

        <!-- Block -->
        <div class="block service tCenter">

          <div class="col-md-4">
            <div class="ico">
              <i class="icon-monitor"></i>
            </div>

            <div class="det">
              <h3>Web Design</h3>
            </div>

          </div>

          <div class="col-md-4">
            <div class="ico">
              <i class="icon-tools"></i>
            </div>

            <div class="det">
              <h3>development</h3>
            </div>

          </div>

          <div class="col-md-4">
            <div class="ico">
              <i class="icon-signal"></i>
            </div>

            <div class="det">
              <h3>networking</h3>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

{% include print_cv.html %}
