---
section_id: contact
section_title: map location
---

<!-- Content -->
<div class="content">

  <!-- Block content -->
  <div class="block-content ">

    <!-- Map -->
    <div class="block-map">

      <!-- Row -->
      <div class="row">

        <div class="col-md-12">
          <div id="map"></div>
        </div>

      </div>

    </div>

  </div>

</div>

<!-- Main title -->

<div class="main-title">
  <h1>contact info</h1>

  {% include zigzag_divider.html %}
</div>

<!-- Content -->
<div class="content">

  <!-- Block content -->
  <div class="block-content ">

    <!-- Info -->
    <div class="block-info">

      <!-- Row -->
      <div class="row">

        <div class="col-md-12">

          <div class="info-holder   margTMedium">

            <!-- Address info -->
            <div class="address-info">
              <i class="icon-location"></i>
              <p>Lars Erik Storbukås<br />Gunhilds vei 11<br>4633 Kristiansand
              </p>
            </div>

            <!-- Contact info -->
            <div class="contact-info tCenter">
              <ul>
                <li>
                  <a href="tel:+4795087795">
                    <div class="ico"><i class="icon-phone"></i></div>
                    <p>Tel: +47 950 87 795</p>
                  </a>
                </li>
              </ul>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<!-- Main title -->

<div class="main-title">
  <h1>send me an email</h1>

  {% include zigzag_divider.html %}
</div>

<!-- Content -->
<div class="content">

  <!-- Block content -->
  <div class="block-content ">

    <!-- Contact -->
    <div class="block-contact margBSSmall">

      <!-- Row -->
      <div class="row">

        <div class="col-md-12">

          <form class="contact-form" method="post" action="send.php">

            <!-- Input columns -->
            <div class="input-columns clearfix">

              <div class="column1">
                <div class="column-inner">
                  <input type="text" placeholder="Name" value="" id="name" name="name">
                </div>
              </div>

              <!-- Column -->
              <div class="column2">
                <div class="column-inner">
                  <input type="text" placeholder="Email" value="" id="email" name="email">
                </div>
              </div>
            </div>

            <input type="text" placeholder="Subject" value="" id="subject" name="subject">
            <textarea name="message" placeholder="Message" id="message" cols="45" rows="10"></textarea>
            <input type="submit" value="send your email" class="but opc-2 submit">
          </form>

          <!-- Contact form message -->
          <div id="success">
            <h2>Your message has been sent. Thank you!</h2></div>
          <div id="error">
            <h2>Sorry your message can not be sent.</h2></div>

        </div>

      </div>
    </div>

  </div>

</div>

{% include print_cv.html %}
