---
section_id: portfolio
section_title: my works
---

<!--Content-->
<div class="content">

  <!--Block content-->
  <div class="block-content ">

    <!--Works-->
    <div class="works">

      <!--Row-->
      <div class="row">

        <div class="block-filter tCenter">
          <ul id="category" class="filter">
            <li><a data-filter="all" href="#" class="active">all</a></li>
            <li><a data-filter="web" href="#">Web design</a></li>
            <li><a data-filter="graphic" href="#">Graphic design</a></li>
            <li><a data-filter="motion" href="#">Motion Graphic</a></li>
          </ul>

        </div>

      </div>
      <!--End row-->

      <!--Row-->
      <div class="row">
        {% include mini_zigzag_divider.html %}
      </div>
      <!--End row-->

      <!--Row-->
      <div class="row">

        <ul class="work">

          <li class="col-md-4 ">

            <!--Item-->
            <div class="item web">
              <a href="project_single.html">
                <div class="desc">
                  <h3 class="proj-desc">Project Name
              {% include overlay_zigzag.html %}


               <span>web design</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/1.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

          <li class="col-md-4">

            <!--Item-->
            <div class="item web">
              <a class="box" href="{{ site.baseurl }}img/portfolio/2.jpg">
                <div class="desc">
                  <h3 class="proj-desc">Project Name
              {% include overlay_zigzag.html %}


               <span>web design</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/2.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

          <li class="col-md-4">

            <!--Item-->
            <div class="item graphic">
              <a class="box" href="{{ site.baseurl }}img/portfolio/3.jpg">
                <div class="desc">
                  <h3 class="proj-desc">Project Name
{% include overlay_zigzag.html %}
              <span>graphic design</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/3.jpg">

              </a>

            </div>
            <!--End item-->

          </li>

          <li class="col-md-4">

            <!--Item-->
            <div class="item web">
              <a class="box" href="{{ site.baseurl }}img/portfolio/4.jpg">
                <div class="desc">
                  <h3 class="proj-desc">Project Name
              {% include overlay_zigzag.html %}


               <span>web design</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/4.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

          <li class="col-md-4">

            <!--Item-->
            <div class="item graphic">
              <a class="box" href="{{ site.baseurl }}img/portfolio/5.jpg">
                <div class="desc">
                  <h3 class="proj-desc">Project Name
              {% include overlay_zigzag.html %}


               <span>graphic design</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/5.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

          <li class="col-md-4">

            <!--Item-->
            <div class="item web">
              <a class="box" href="{{ site.baseurl }}img/portfolio/6.jpg">
                <div class="desc">
                  <h3 class="proj-desc">Project Name

              {% include overlay_zigzag.html %}


               <span>web design</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/6.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

          <li class="col-md-4">

            <!--Item-->
            <div class="item motion">
              <a class="popup-vimeo" href="https://vimeo.com/67429593">
                <div class="desc">
                  <h3 class="proj-desc">Project Name

              {% include overlay_zigzag.html %}


              <span>motion graphic</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/7.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

          <li class="col-md-4">

            <!--Item-->
            <div class="item web">
              <a href="project_single.html">
                <div class="desc">
                  <h3 class="proj-desc">Project Name
              {% include overlay_zigzag.html %}


               <span>web design</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/8.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

          <li class="col-md-4">

            <!--Item-->
            <div class="item graphic">
              <a class="box" href="{{ site.baseurl }}img/portfolio/9.jpg">
                <div class="desc">
                  <h3 class="proj-desc">Project Name
              {% include overlay_zigzag.html %}


               <span>graphic design</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/9.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

          <li class="col-md-4 ">

            <!--Item-->
            <div class="item graphic">
              <a href="http://www.mutationmedia.net/" target="_blank">
                <div class="desc">
                  <h3 class="proj-desc">Project Name


                {% include overlay_zigzag.html %}

               <span>graphic design</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/10.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

          <li class="col-md-4">

            <!--Item-->
            <div class="item web">
              <a class="box" href="{{ site.baseurl }}img/portfolio/11.jpg">
                <div class="desc">
                  <h3 class="proj-desc">Project Name
              {% include overlay_zigzag.html %}


               <span>web design</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/11.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

          <li class="col-md-4">

            <!--Item-->
            <div class="item motion">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=gTFljCRnGN4">
                <div class="desc">
                  <h3 class="proj-desc">Project Name

              {% include overlay_zigzag.html %}


               <span>motion graphic</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/12.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

        </ul>

      </div>
      <!--End row-->

    </div>
    <!--End works-->

    <div class="clearfix"></div>

  </div>
  <!--End block content-->

</div>
<!--End content-->

<!--Button-->
<div class="button ofsInTop tCenter clearfix">

  {% include zigzag_divider.html %}

  <!--Row-->
  <div class="row ">

    <div class="col-md-12">
      <a class="but opc-1 ico" href="#">Download my cv</a>
      <a class="but opc-2 ico" href="#">Print my resume</a>

    </div>

  </div>
  <!--End row-->

</div>
<!--End button-->
