---
section_id: portfolio
section_title: my works
---

<!--Content-->
<div class="content">

  <!--Block content-->
  <div class="block-content ">

    <!--Works-->
    <div class="works">

      <!--Row-->
      <div class="row">

        <div class="block-filter tCenter">
          <ul id="category" class="filter">
            <li><a data-filter="all" href="#" class="active">all</a></li>
            <li><a data-filter="web" href="#">Web design</a></li>
            <li><a data-filter="graphic" href="#">Graphic design</a></li>
            <li><a data-filter="motion" href="#">Motion Graphic</a></li>
          </ul>

        </div>

      </div>
      <!--End row-->

      <!--Row-->
      <div class="row">
        {% include mini_zigzag_divider.html %}
      </div>
      <!--End row-->

      <!--Row-->
      <div class="row">

        <ul class="work">

          {% for project in site.projects %}

          <li class="col-md-4 ">

            <!--Item-->
            <div class="item {{ project.tag_id }}">
              <a href="{{ project.url }}">
                <div class="desc">
                  <h3 class="proj-desc">{{ project.title }}
              {% include overlay_zigzag.html %}


               <span>{{ project.tag_name }}</span></h3>
                </div>

                <img alt="" src="{{ site.baseurl }}img/portfolio/1.jpg">
              </a>

            </div>
            <!--End item-->

          </li>

          {% endfor %}

        </ul>

      </div>
      <!--End row-->

    </div>
    <!--End works-->

    <div class="clearfix"></div>

  </div>
  <!--End block content-->

</div>
<!--End content-->

{% include print_cv.html %}
