---
layout: default
title: Lars Erik Storbukås
---

<!-- Wrapper -->
<div id="wrapper" class="margLTop  margLBottom">

  <!-- Container -->
  <div class="container">

    <div class="row ">

      <!-- Left content -->
      <div class="col-md-3 nopr left-content">
        {% include detail_page_header.html %}
      </div>

      <!-- Right content -->
      <div class="col-md-9 right-content">

        <!-- Portfolio Tab -->
        <section id="blog" class="bgWhite ofsInBottom">

          <!-- Portfolio -->
          <div class="blog">

            <!-- Main title -->
            <div class="main-title">
              <h1>The blog</h1>

              {% include zigzag_divider.html %}
            </div>

            <!-- Content -->
            <div class="content">

              <!-- Block content -->
              <div class="block-content ">

                <!-- Works -->
                <div class="blog">

                  <!-- Row -->
                  <div class="row">

                    <!-- Blog posts -->
                    <div class="block-posts ">

                      {% for post in site.posts %}

                      <!-- Block post -->
                      <div class="block-post clearfix">
                        <div class="col-md-12">

                          <div class="post-media margBSmall">
                            <img src="{{ site.baseurl }}img/blog/1.jpg" alt="" />
                          </div>

                          <div class="post-title">
                            <a href="{{ post.url }}">
                              <h1>{{ post.title }}</h1>
                            </a>
                            <span class="meta-date">{{ post.date | date_to_string }}</span>
                          </div>

                          <ul class="post-meta">
                            <li>
                              <i class="icon-user"></i>
                              <span>Post by <a href="#">{{ post.author }}</a></span>
                            </li>

                            <li>
                              <i class="icon-layout"></i>
                              <span>Tagged in <a href="#">{{ post.tag }}</a></span>
                            </li>

                            <li>
                              <i class="icon-comment"></i>
                              <span>Comments <a href="#">(<span class="fb-comments-count" data-href="http://larserik.storbukas.no"></span>)</a></span>
                            </li>
                          </ul>

                          <hr>

                          {{ post.excerpt | markdownify }}

                          <a href="{{ post.url }}" class="but brd">Read More</a>

                        </div>

                        <div class="clearfix"></div>

                        {% include mini_zigzag_divider.html %}

                      </div>

                      {% endfor %}

                    </div>

                  </div>

                  <div class="block pagination tCenter margTSmall margBSmall">
                    <ul>
                      <li class="prev"><a href="#"><i class="icon-left-open-mini"></i></a></li>
                      <li><a href="#">1</a></li>
                      <li><a class="selected" href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li class="next"><a href="#"><i class="icon-right-open-mini"></i></a></li>
                    </ul>
                  </div>

                </div>

              </div>

            </div>

            {% include print_cv.html %}

          </div>
        </section>
      </div>
    </div>
  </div>
</div>
