---
layout: default
title: Lars Erik Storbukås
---

<!-- Wrapper -->
<div id="wrapper" class="margLTop  margLBottom">

  <!-- Container -->
  <div class="container">

    <div class="row ">

      <!-- Left content -->
      <div class="col-md-3 nopr left-content">

        {% include blog_post_header.html %}

      </div>

      <!-- Right content -->
      <div class="col-md-9 right-content">

        <!-- Blog Tab -->
        <section id="blog" class="bgWhite ofsInBottom">

          <!-- Blog -->
          <div class="blog">

            <!-- Main title -->

            <div class="main-title">
              <h1>Blog Post</h1>

              {% include zigzag_divider.html %}
            </div>

            <!-- Content -->
            <div class="content single">

              <!-- Block content -->
              <div class="block-content ">

                <!-- Works -->
                <div class="blog">

                  <!-- Row -->
                  <div class="row">

                    <!-- Blog posts -->
                    <div class="block-posts clearfix">

                      <!-- Block post -->
                      <div class="block-post single clearfix">
                        <div class="col-md-12">

                          <div class="post-media margBSmall">
                            <img src="img/blog/1.jpg" alt="" />
                          </div>

                          <div class="post-title">
                            <h1>Which design layout solution should you use ?</h1>
                            <span class="meta-date">13 Dec</span>
                          </div>

                          <ul class="post-meta">
                            <li>
                              <i class="icon-user"></i>
                              <span>Post by <a href="#">Benaissa Ghrib</a></span>
                            </li>
                            <li>
                              <i class="icon-layout"></i>
                              <span>Tagged in <a href="#">Web Design</a></span>
                            </li>

                            <li>
                              <i class="icon-comment"></i>
                              <span>Comments <a href="#">(<span class="fb-comments-count" data-href="http://larserik.storbukas.no"></span>)</a></span>
                            </li>

                          </ul>

                          <hr>

                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                            odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.
                          </p>

                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                            odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                          </p>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

            <!-- Main title -->

            <div class="main-title">
              <h1>Comments <span class="cm-count">(<span class="fb-comments-count" data-href="http://larserik.storbukas.no"></span>)</span></h1>

              {% include zigzag_divider.html %}
            </div>

            <!-- Content -->
            <div class="content">

              <!-- Block content -->
              <div class="block-content ">

                <!-- Comment -->
                <div class="block-comment">

                  <!-- Row -->
                  <div class="row">

                    <div class="col-md-12">

                      <div id="fb-comments" class="fb-comments" width="100%" data-href="http://larserik.storbukas.no" data-numposts="5"></div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

            <!-- Button -->
            <div class="button ofsInTop tCenter">

              {% include zigzag_divider.html %}

              <!-- Row -->
              <div class="row ">
                <div class="col-md-12">
                  <a class="but opc-1 ico" href="#">Download my cv</a>
                  <a class="but opc-2 ico" href="#">Print my resume</a>
                </div>
              </div>

            </div>

          </div>
        </section>
      </div>
    </div>
  </div>
</div>
