---
layout: default
title: Lars Erik Storbukås
---

<!--Wrapper-->
<div id="wrapper" class="margLTop  margLBottom">

  <!--Container-->
  <div class="container">

    <div class="row ">

      <div class="col-md-12">

        <!-- Portfolio single -->
        <section id="portfolio" class="bgWhite ofsInBottom ">

          <!-- Portfolio -->
          <div class="portfolio">

            <!-- Main title -->
            <div class="main-title work-title">
              <h1>Amazing Branding</h1>

              {% include zigzag_divider.html %}
            </div>

            <!-- Content -->
            <div class="content">

              <!-- Block content -->
              <div class="block-content ">

                <div class="block-nav-work margBottom">
                  <ul>
                    <li><a href="#"><i class="icon-left-open-mini"></i></a></li>
                    <li><a href="index.html#portfolio"><i class="icon-cancel"></i></a></li>
                    <li><a href="#"><i class="icon-right-open-mini"></i></a></li>
                  </ul>
                </div>

                <div class="block-single margBottom clearfix">
                  <div class="col-md-10 col-md-offset-1">
                    <h1 class="large-title margBSSmall">Project
												 <br>Case Study</h1>
                    <p class="margBSSmall">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.Sed ut perspiciatis unde omnis iste natus
                      error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem. </p>

                    <hr>

                    <ul>
                      <li>Job :
                        <strong>Branding &amp; Development</strong>
                      </li>

                      <li>Client :
                        <strong>Lars Erik Storbukås</strong>
                      </li>

                      <li>Year :
                        <strong>Mars , 2015</strong>
                      </li>

                      <li>Agency :
                        <strong>Mutation Media</strong>
                      </li>
                    </ul>

                  </div>
                </div>

                <div class="block-single margBottom clearfix">
                  <div class="col-md-10 col-md-offset-1">
                    <img src="img/portfolio/large-1.jpg" alt="">
                  </div>
                </div>

                <div class="block-single margBottom clearfix">
                  <div class="col-md-10 col-md-offset-1">
                    <img src="img/portfolio/large-2.jpg" alt="">
                  </div>
                </div>

                <div class="block-single margBottom clearfix">
                  <div class="col-md-10 col-md-offset-1">
                    <img src="img/portfolio/large-3.jpg" alt="">
                  </div>
                </div>

                <div class="block-single margBottom clearfix">
                  <div class="col-md-10 col-md-offset-1">
                    <img src="img/portfolio/large-4.jpg" alt="">
                  </div>
                </div>

                <div class="block-single margBottom clearfix">
                  <div class="col-md-10 col-md-offset-1">
                    <ul class="social tCenter">
                      <li><a href="#"><i class="icon-facebook"></i></a></li>
                      <li><a href="#"><i class="icon-twitter"></i></a></li>
                      <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>

            <!-- Button -->
            <div class="button ofsInTop tCenter">

              {% include zigzag_divider.html %}

              <!-- Row -->
              <div class="row ">
                <div class="col-md-12">
                  <a class="but opc-3 ico" href="#">view project online</a>
                </div>
              </div>

            </div>
          </div>

        </section>

      </div>

    </div>
  </div>
</div>
