<head>

  <!-- Metas -->
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {{ page.title }}
  </title>

  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}img/favicon.png"/>
  <link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicon.png"/>

  <!-- Css -->
  <link href="{{ site.baseurl }}css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ site.baseurl }}css/owl-carousel/owl.carousel.css" rel="stylesheet" media="all">
  <link href="{{ site.baseurl }}css/owl-carousel/owl.theme.css" rel="stylesheet" media="all">
  <link href="{{ site.baseurl }}css/magnific-popup.css" type="text/css" rel="stylesheet" media="all" />
  <link href="{{ site.baseurl }}css/font.css" rel="stylesheet" type="text/css" media="all">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" rel="stylesheet" type="text/css" media="all">
  <link href="{{ site.baseurl }}css/fontello.css" rel="stylesheet" type="text/css" media="all">
  <link href="{{ site.baseurl }}css/base.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ site.baseurl }}css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" type="text/css" media="all">
  <link rel="stylesheet" type="text/css" rel="stylesheet" media="print" href="{{ site.baseurl }}css/print.css" />

  <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/ie9.css" />
		<![endif]-->

</head>
