<!-- Header -->
<header id="header">

  <!-- Main header -->
  <div class="main-header">

    <!-- Profile image -->
    <figure class="img-profile" style="overflow:hidden;">
      <img src="img/profile.jpg" alt="" />
    </figure>

    <!-- Main navigation -->
    <nav id="main-nav" class="main-nav clearfix tabbed">
      <ul>
        <li><a href="#about"><i class="icon-user"></i>About</a></li>
        <li><a href="#portfolio"><i class="icon-camera"></i>Portfolio</a></li>
        <li><a href="#blog"><i class="icon-chat"></i>Blog</a></li>
        <li><a href="#contact"><i class="icon-phone"></i>Contact</a></li>
      </ul>
    </nav>

  </div>

  <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">

    <ul class="social">
      <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="icon-facebook"></i></a></li>
      <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="icon-linkedin"></i></a></li>
      <li><a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="icon-github"></i></a></li>
    </ul>

    <br />

    <span class="main-title">
      <h1>{{ site.name }}</h1>
    </span>

  </div>

</header>
